.grille{
    max-width: 300px;
}

.case{
    cursor: pointer;
    height: 100px;
    width: 100px;
    border: 1px solid #ffffff;
}

.plateau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.start{
    text-align: center;
}

@media (max-width: 576px){
    .case{
        cursor: pointer;
        height: 60px;
        width: 60px;
        border: 1px solid #ffffff;
    }
    .grille{
        max-width: 180px;
    }
}

@media (min-width: 992px){
    .case{
        cursor: pointer;
        height: 150px;
        width: 150px;
        border: 1px solid #ffffff;
    }

    .grille{
        max-width: 450px;
    }
}